/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

/* #region VARIABLES ================== */
:root {
    /* #region Colors ================= */ /*Default color scheme: dark */
    /* =========== Initial hues ======= */
    --hue-fav: 220;
    --hue-grad-left: 220;
    --hue-grad-right: 270;
    /* =========== Header ============= */
    --grad-header-left: hsla(var(--hue-grad-left), 65%, 12%, 0.95);
    --grad-header-right: hsla(var(--hue-grad-right), 65%, 12%, 0.95);
    --grad-header: linear-gradient(to right, var(--grad-header-left), var(--grad-header-right));
    --color-logo: hsl(var(--hue-fav), 10%, 85%);
    /* =========== Body =============== */
    --grad-body-left: hsl(var(--hue-grad-left), 65%, 12%);
    --grad-body-right: hsl(var(--hue-grad-right), 65%, 12%);
    --grad-body: linear-gradient(to right, var(--grad-body-left), var(--grad-body-right));
    /* =========== Hover =============== */
    --color-hover-nav: hsl(var(--hue-grad-left), 10%, 85%);
    --color-hover: hsla(var(--hue-fav), 100%, 80%, .08);
    --shadow: hsla(0, 0%, 0%, .25);
    /* =========== Text ================ */
    --color-title: hsl(var(--hue-fav), 10%, 85%);
    --color-text: hsl(var(--hue-fav), 10%, 60%);
    /* #endregion */

    /* #region Fonts ================== */
    --font-all: 'Inter';
    /* =========== Size =============== */
    --size-name: 2.5rem;
    --size-title-big: 1.25rem; 
    --size-title: 1.125rem; 
    --size-subtitle: 1.125rem;
    --size-text: 1rem;
    --size-description: 0.875rem;
    --size-small: 0.75rem;
    /* =========== Weight ============= */
    --weight1-regular: 400;
    --weight2-medium: 500;
    --weight3-bold: 700;
    --weight4-black: 900;
    /* =========== Letter spacing ===== */
    --space-name: -.10rem;
    --space-caps: 0.05rem;
    /* #endregion */

    --header-height: 3rem;
}
/* #endregion */

/* #region GENERAL ==================== */
/* #region ==== Layout ================ */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-all), sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--grad-body-left);
    background-image: var(--grad-body);
    margin-top: var(--header-height);
    color: var(--color-text);
}

main {
    padding-left: 2rem;
    padding-right: 2rem;
}

section {
    padding-top: var(--header-height);
}
/* #endregion */

/* #region ==== Formatting ============ */
/* #region ======== Types ============= */
h1 {
    color: var(--color-title);
    font-size: var(--size-title);
    display: block;
}

h2 {
    color: var(--color-text);
    font-size: var(--size-subtitle);
    display: block;
}

p, a {
    color: var(--color-text);
    font-size: var(--size-text);
    text-decoration: none;
    display: block;
}

ul {list-style: none;}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    color: var(--color-text);
    background-color: transparent;
    border: none;
    display: block;
    transition: .5s;
}

button:hover {
    color: var(--color-title);
    cursor: pointer;
}
/* #endregion */

/* #region ======== Classes =========== */
.name {
    color: var(--color-title);
    font-size: var(--size-name);
    letter-spacing: var(--space-name);
    font-weight: var(--weight3-bold);
}

.title-big {
    color: var(--color-title);
    font-size: var(--size-title-big);
    font-weight: var(--weight2-medium);
}

.caps {
    text-transform: uppercase;
    font-weight: var(--weight3-bold);
    font-size: var(--size-caps);
    letter-spacing: var(--space-caps);
}

.description {font-size: var(--size-description);}
.small {font-size: var(--size-small);}
/* #endregion */
/* #endregion */
/* #endregion */

/* #region HEADER ===================== */
header {
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100vw;
    background-image: var(--grad-header);
    box-shadow: 0 4px 4px -2px var(--shadow);
}

/* #region ==== Mobile nav ============ */
nav {
    height: var(--header-height);
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo {
    color: var(--color-logo);
    font-size: var(--size-text);
    transition: .5s;
}

nav .info {display: none;}
nav .menu {display: none;}
/* #endregion */

/* #region ==== Dropdown menu ========= */
.drop-menu {
    position: relative;
    height: auto;
    display: none; /* flex */
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--color-text);
    transition: .5s;
}

.drop-menu a {
    text-align: center;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: .5s;
}

.drop-menu a:hover {
    color: var(--color-title);
    background-color: var(--color-hover);
    box-shadow: 0, 0, 4px, 4px, var(--shadow);
}
/* #endregion */
/* #endregion */

/* #region HOME ======================= */
.home div {
    display: flex;
    flex-direction: column;
}

.home h1 {margin-top: 1rem;}
.home p {
    margin-top: 2rem;
    margin-right: auto;
    width: 22rem;
}
.home .social {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
/* .github-button {color: var(--color-text);} */

/* #endregion */

/* @media screen and ( min-width: 600px ) {
    nav {max-width: 700px;}

    #nav-menu {
        display: flex;
        gap: 2rem;
    }

    #menu-button {display: none;}
} */


/* @media screen and ( min-width: 800px ) {
    header {
        background-image: none;
        box-shadow: none;
        width: 500px;
        height: 100vh;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 6rem;
        padding-left: 6rem;
    }

    nav {
        flex-direction: column;
        gap: 1rem;
        align-items: flex-start;
    }

    #nav-logo {
        color: var(--color-logo);
        font-size: var(--size-name);
        font-weight: var(--weight3-bold);
        letter-spacing: var(--space-name);
    }

    #nav-occupation {display: block;}
    #nav-summary {display: block;}

    #nav-menu {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: flex-start;
        padding-top: 6rem;
        width: 100%;
    }

    #menu-button {display: none;}
}  */



/* #endregion */

