/* #region ==== FONTS       ================ */
@font-face {
    font-family: 'OpenDyslexic';
    src: 
        local('OpenDyslexic'),
        url('./css/fonts/OpenDyslexic-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: 
        local('OpenDyslexic'),
        url('./css/fonts/OpenDyslexic-Bold.woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: 
        local('OpenDyslexic'),
        url('./css/fonts/OpenDyslexic-Italic.woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: 
        local('OpenDyslexic'),
        url('./css/fonts/OpenDyslexic-Bold-Italic.woff2');
    font-weight: bold;
    font-style: italic;
}

/* #endregion */

/* #region ==== VARIABLES           ======== */
:root{
    --header-height: 3rem;
    /* #region ==== Colors           ========*/
    /* Favorite color */
    --hue-color: 230;
    --fav-color: hsl(var(--hue-color), 75%, 70%);

    /*
    /* Dark mode default */
    --nav-color:hsl(var(--hue-color), 15%, 65%);
    --nav-hover-color: hsl(270, 100%, 79%);

    --title-color: hsl(220, 10%, 85%);
    --text-color: hsl(245, 15%, 65%);

    --gradient-left: hsl(220, 40%, 15%);
    --gradient-right: hsl(270, 40%, 15%);
    --gradient: linear-gradient(to right, var(--gradient-left), var(--gradient-right));
    --header-gradient: linear-gradient(to right, hsla(220, 40%, 10%, .95), hsla(270, 40%, 10%, .95));
    
    --edge-shadow: rgba(0, 0%, 0%, 0.25);
    --translucent: hsla(0, 0%, 100%, 0.9);
    /* #endregion */

    /* #region ==== Font             ========*/
    --logo-font: 'OpenDyslexic';
    --nav-font: 'Poppins';
    --body-font: 'OpenDyslexic';
    --title-font: 'Poppins';
    
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --big-font-size: 2rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.75rem;

        /*==== Font weight ====*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    /* #endregion */

    /* #region ==== Margins          ======== */
    --mb-section-subtitle: 3rem;
    /* #endregion */

    /* #region ==== z indices        ========*/
    --z-fixed: 10;
    /* #endregion */

    /* #region ==== Screen size      ========*/
    --width-limit: 700px;
    /* #endregion */
}
/* #endregion */

/* #region ==== BASE                ======== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    background-image: var(--gradient);
    font-family: var(--body-font);
    
    min-width: 200px;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: var(--font-regular);
}
h3:hover {
    color: var(--nav-hover-color);
}

p {
	height: 4000px;
    max-width: 700px;
    font-size: var(--smaller-font-size);
    color: var(--text-color);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
/* #endregion */

/* #region ==== CSS CLASSES         ======== */
.section {
    /* padding: 6rem 0 4rem; */
    padding-top: 9rem;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.section-subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-section-subtitle);
}

.section-title, .section-subtitle {
    text-align: center;
}
/* #endregion */

/* #region ==== LAYOUT              ======== */
.container {
    max-width: var(--width-limit);
    margin-left: auto;
    margin-right: auto;
}

.header {
    /* background-image: var(--header-gradient); */
    background-color: hsla(235, 100%, 80%, .2);
	box-shadow: 0 4px 4px -2px var(--edge-shadow);
    padding-left: 2rem;
    padding-right: 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: var(--z-fixed);	
}
/* #endregion */

/* #region ==== NAV                 ======== */

    /* #region ==== Nav bar logo        ==== */
    .nav-logo {
        color: var(--title-color);
        font-family: var(--nav-font);
        font-size: var(--normal-font-size);
        font-weight: var(--font-regular);
        transition: .3s;
    }

    .nav-logo:hover, .nav-logo:focus {
        color: var(--nav-hover-color);
        transition: .3s;
    }
    /* #endregion */

    /* #region ==== Nav bar container   ==== */
    .nav {
        max-width: var(--width-limit);
        height: var(--header-height);
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    /* #endregion */

    /* #region ==== Menu button         ==== */
    .menu-button {
        color: var(--nav-color);
        font-size: var(--normal-font-size);
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    /* Hide button for large screens */
    @media screen and (min-width: 500px) {
        #menu-button {display: none;}
    }

    #menu-icon {
        color: var(--nav-color);
        transition: .3s;
    }

    #menu-icon:hover, .menu-icon:focus {
        color: var(--nav-hover-color);
        transition: .3s;
    }
    /* #endregion */

    /* #region ==== Nav menu list       ==== */
    .nav-list {
        display: flex;
        column-gap: 2rem;
    }

    /* Hide nav bar menu for small screens */
    @media screen and (max-width: 501px) {
        .nav-menu {display: none;}
    }

    .nav-item {
        float: left;
    }

    .nav-link {
        color: var(--nav-color);
        font-family: var(--nav-font);
        font-size: var(--small-font-size);
        font-weight: var(--font-medium);
        align-items: center;
        display: block;
        transition: .3s;   
    }

    .nav-link:hover, .nav-link:focus {
        color: var(--nav-hover-color);
        transition: .3s;
    } 
    /* #endregion */

    /* #region ==== Dropdown menu       ==== */
.mobile-nav-menu {
    background-color: transparent;
    box-shadow: 0 4px 4px -2px var(--edge-shadow);
    display: block;
    overflow: hidden;
    position: relative;
    height: 0;
    width: 100%;
    transition: .5s;
    z-index: var(--z-fixed);
}

.mobile-nav-link-block {
    display: flex;
    align-items: center;
    height: 2rem;
    width: 100%;
}

.mobile-nav-link {
    color: var(--nav-color);
    font-family: var(--nav-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    display: block;
    text-align: center;
    width: 100%;
    transition: .3s;
}

.mobile-nav-link:hover, .mobile-nav-link:focus {
    color: var(--nav-hover-color);
    transition: .3s;
}
/* #endregion */

/* #endregion */

/* #region ==== HOME                ======== */

/* #endregion */

/* #region ==== FONTS       ================ */
@font-face {
    font-family: 'OpenDyslexic';
    src: 
        local('OpenDyslexic'),
        url('./css/fonts/OpenDyslexic-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: 
        local('OpenDyslexic'),
        url('./css/fonts/OpenDyslexic-Bold.woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: 
        local('OpenDyslexic'),
        url('./css/fonts/OpenDyslexic-Italic.woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: 
        local('OpenDyslexic'),
        url('./css/fonts/OpenDyslexic-Bold-Italic.woff2');
    font-weight: bold;
    font-style: italic;
}

/* #endregion */

/* #region ==== VARIABLES           ======== */
:root{
    --header-height: 3rem;
    /* #region ==== Colors           ========*/
    /* Favorite color */
    --hue-color: 230;
    --fav-color: hsl(var(--hue-color), 75%, 70%);

    /*
    /* Dark mode default */
    --nav-color:hsl(var(--hue-color), 15%, 65%);
    --nav-hover-color: hsl(270, 100%, 79%);

    --title-color: hsl(220, 10%, 85%);
    --text-color: hsl(245, 15%, 65%);

    --gradient-left: hsl(220, 40%, 15%);
    --gradient-right: hsl(270, 40%, 15%);
    --gradient: linear-gradient(to right, var(--gradient-left), var(--gradient-right));
    --header-gradient: linear-gradient(to right, hsla(220, 40%, 10%, .95), hsla(270, 40%, 10%, .95));
    
    --edge-shadow: rgba(0, 0%, 0%, 0.25);
    --translucent: hsla(0, 0%, 100%, 0.9);
    /* #endregion */

    /* #region ==== Font             ========*/
    --logo-font: 'OpenDyslexic';
    --nav-font: 'Poppins';
    --body-font: 'OpenDyslexic';
    --title-font: 'Poppins';
    
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 1rem;
    --big-font-size: 2rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.75rem;

        /*==== Font weight ====*/
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    /* #endregion */

    /* #region ==== Margins          ======== */
    --mb-section-subtitle: 3rem;
    /* #endregion */

    /* #region ==== z indices        ========*/
    --z-fixed: 10;
    /* #endregion */

    /* #region ==== Screen size      ========*/
    --width-limit: 700px;
    /* #endregion */
}
/* #endregion */

/* #region ==== BASE                ======== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    background-image: var(--gradient);
    font-family: var(--body-font);
    
    min-width: 200px;
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-family: var(--title-font);
    font-weight: var(--font-regular);
}
h3:hover {
    color: var(--nav-hover-color);
}

p {
	height: 4000px;
    max-width: 700px;
    font-size: var(--smaller-font-size);
    color: var(--text-color);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}
/* #endregion */

/* #region ==== CSS CLASSES         ======== */
.section {
    /* padding: 6rem 0 4rem; */
    padding-top: 9rem;
}

.section-title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
}

.section-subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-section-subtitle);
}

.section-title, .section-subtitle {
    text-align: center;
}
/* #endregion */

/* #region ==== LAYOUT              ======== */
.container {
    max-width: var(--width-limit);
    margin-left: auto;
    margin-right: auto;
}

.header {
    /* background-image: var(--header-gradient); */
    background-color: hsla(235, 100%, 80%, .2);
	box-shadow: 0 4px 4px -2px var(--edge-shadow);
    padding-left: 2rem;
    padding-right: 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: var(--z-fixed);	
}
/* #endregion */

/* #region ==== NAV                 ======== */

    /* #region ==== Nav bar logo        ==== */
    .nav-logo {
        color: var(--title-color);
        font-family: var(--nav-font);
        font-size: var(--normal-font-size);
        font-weight: var(--font-regular);
        transition: .3s;
    }

    .nav-logo:hover, .nav-logo:focus {
        color: var(--nav-hover-color);
        transition: .3s;
    }
    /* #endregion */

    /* #region ==== Nav bar container   ==== */
    .nav {
        max-width: var(--width-limit);
        height: var(--header-height);
        justify-content: space-between;
        align-items: center;
        display: flex;
    }
    /* #endregion */

    /* #region ==== Menu button         ==== */
    .menu-button {
        color: var(--nav-color);
        font-size: var(--normal-font-size);
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    /* Hide button for large screens */
    @media screen and (min-width: 500px) {
        #menu-button {display: none;}
    }

    #menu-icon {
        color: var(--nav-color);
        transition: .3s;
    }

    #menu-icon:hover, .menu-icon:focus {
        color: var(--nav-hover-color);
        transition: .3s;
    }
    /* #endregion */

    /* #region ==== Nav menu list       ==== */
    .nav-list {
        display: flex;
        column-gap: 2rem;
    }

    /* Hide nav bar menu for small screens */
    @media screen and (max-width: 501px) {
        .nav-menu {display: none;}
    }

    .nav-item {
        float: left;
    }

    .nav-link {
        color: var(--nav-color);
        font-family: var(--nav-font);
        font-size: var(--small-font-size);
        font-weight: var(--font-medium);
        align-items: center;
        display: block;
        transition: .3s;   
    }

    .nav-link:hover, .nav-link:focus {
        color: var(--nav-hover-color);
        transition: .3s;
    } 
    /* #endregion */

    /* #region ==== Dropdown menu       ==== */
.mobile-nav-menu {
    background-color: transparent;
    box-shadow: 0 4px 4px -2px var(--edge-shadow);
    display: block;
    overflow: hidden;
    position: relative;
    height: 0;
    width: 100%;
    transition: .5s;
    z-index: var(--z-fixed);
}

.mobile-nav-link-block {
    display: flex;
    align-items: center;
    height: 2rem;
    width: 100%;
}

.mobile-nav-link {
    color: var(--nav-color);
    font-family: var(--nav-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    display: block;
    text-align: center;
    width: 100%;
    transition: .3s;
}

.mobile-nav-link:hover, .mobile-nav-link:focus {
    color: var(--nav-hover-color);
    transition: .3s;
}
/* #endregion */

/* #endregion */

/* #region ==== HOME                ======== */

/* #endregion */

